/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*@import "font-awesome";
*/
@import "chosen";

$theme-pink: #ff5ab3;
$theme-purple: #EE82EE;
$theme-blue: #2980BB;
$light-grey: #f4f4f4;
$navbar-blue: #337ab7;

.spacer {
	padding: 30px;
}

.row-spacer {
	padding: 10px;
}

.awesome-icon {
  font-family: FontAwesome;
}

.dropdown-design {
    padding-top: 30px;
    padding-left: 30px;
}

.background-nav {
	background: white;
}

.navbar-fixed-top, {
    min-height: 80px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
	}

@media (min-width: 768px) {
	.navbar-brand img {
		height:75px;
		width:130px;
		margin-top:5px;
		margin-left: -100px;
	}
}

.navbar-brand img {
	height:75px;
	width:130px;
	margin-top:5px;
	margin-left: -50px;
}

.navbar-right {
    margin-right: -50px;
}