// Place all the styles related to the Facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facility-spacer {
	padding-top: 100px;
}

.map-style {
	 margin-left: 40px;

}

.profile-name {
	text-transform: uppercase;
}

.review-form {
}

/*.service-div {
	margin-left: -45px;	
}*/

/*.star-centre {
	margin-left:80px; 
	top:70px;
}*/

.star-centre h4 {
	text-align:center;
}

.star-centre img {
	width: 30px;
	height:30px;
	margin: auto;
}

.hospital-icon {
	height: 180px;
	width: 180px;
	margin: auto;
	/*margin: 10 10 10 10;*/
	/*padding: 10px;*/
	display: block;
}