// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.search-spacer {
	padding: 110px;
}

.result_page {
  float: left;
  width: 35%;}

.result_page_map {
  float: right;
  width: 55%;
}

