// Place all the styles related to the Trendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trend-spacer {
	padding: 150px;
}

.trend-img {
	margin-right: -20px;
	margin-top: 15px;
}

#trend-stats-time {
	margin-top: 30px;
}

#trend-headline {
	margin-right: 150px;
}